# Auto-detect text files and normalize line endings
* text=auto

# Ensure binary files are never modified by line-ending conversions
*.pdf binary
*.gz binary
*.png binary
*.jpg binary
*.jpeg binary
*.ico binary
*.webp binary
